angelburgos-ShoppingServiceProject/SOA/Schemas/Gestor.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/angelburgos_ShoppingServiceApplication/angelburgos_ShoppingServiceProject/Gestor"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="GestorRequestMessage">
		<complexType>
			<sequence>
				<element name="nombreProducto" type="string"/>
    <element name="precioOferta" type="decimal"/>
   </sequence>
		</complexType>
	</element>
	<element name="GestorResponseMessage">
		<complexType>
			<sequence>
    <element name="precioFinal" type="decimal"/>
   </sequence>
		</complexType>
	</element>
</schema>